<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>CSCB20-Assignments</title>
        <link rel="stylesheet" type="text/css" href="../static/style/assignment.css">
    </head>
    <body>
        <div class="navigation">
            <li class="navigation"><a class="active" href="/">Home&nbsp;</a></li>
            <li class="navigation"><a href="../static/image/B20.pdf" target="_blank">Syllabus&nbsp;</a></li>
            <li class="navigation"><a href="/calendar">Calendar&nbsp;</a></li>
            <li class="navigation"><a href="/news">News&nbsp;</a></li>
            <li class="navigation"><a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank">Piazza&nbsp;</a></li>
            <li class="navigation"><a href="/lectures">Lectures&nbsp;</a></li>
            <li class="navigation"><a href="/labs">Labs&nbsp;</a></li>
            <li class="navigation"><a href="/assignments">Assignments&nbsp;</a></li>
            <li class="navigation"><a href="/tests">Tests&nbsp;</a></li>
            <li class="navigation"><a href="https://markus2.utsc.utoronto.ca/" target="_blank">Markus&nbsp;</a></li>
            <li class="navigation"><a href="/courseteam">CourseTeam&nbsp;</a></li>
            <li class="navigation"><a href="/feedback">Feedback</a></li>
            <li class="navigation logout-button"><a href="/logout">Log out</a></li>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1>Assignemnts</h1>
        <hr>
        <div class="assignments-container">
            <div class="assignment" id="assignment1">
                <a href="../static/Assignments/A1.pdf" target="_blank">
                    <h2>Assignment 1</h2>
                    <p>In this assignment, you are a SQL Developer Intern on the University of Toruneto Health and Safety Team. Your team is working on projects related to Uni 2.0, a hybrid online and in person method of education during the pandemic. The senior database developer has written out some relationship schemas and would like you to write out RA and/or SQL queries for the following.</p>
                    <br>
                    <br>
                    <p>* This is a group assignment. You can work in group of maximum 3 for this assignment. Forming a group is not a requirement. You can also work individually.</p>
                    <p>* It is possible that not all subparts of a question will be marked. However, attempt all the questions.</p>
                    <br>
                    <br>
                    <p>Due Date：February 14, 11:59 pm</p>
                    <br>
                    <p>Weight：8%</p>
                </a>
            </div>
            <div class="assignment" id="assignment2">
                <a href="./static/Assignments/A2.pdf" target="_blank">
                    <h2>Assignment 2</h2>
                    <p>In this assignment, you are a front-end developer in a Computer Science program where your team will develop a new course website for the CSCB20 course using HTML and CSS.</p>
                    <br>
                    <p>Think about what an ideal course website should look like? How should the user experience be like? What are the relevant contents that must be shown to the visitor of the website? What should the look and feel of the website be?</p>
                    <br>
                    <p>* You may work individually or in groups of two or three. The webpage must be usable, responsive, and visually appealing. Below is an example course page, however it is up to you to create a design following the mandates listed in this assignment.</p>
                    <br>
                    <br>
                    <p>Due Date：March 15, 11:59 pm</p>
                    <br>
                    <p>Weight：10%</p>
                </a>
            </div>
            <div class="assignment" id="assignment3">
                <h2>Assignment 3</h2>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h3>UPCOMMING</h3>
                <br>
                <br>
                <br>
                <br>
                <p>Due Date：April 5, 11:59 pm(Tentative)</p>
                <br>
                <p>Weight：15%</p>
            </div>
        </div>
        <div class="footer">
            <h2>CSCB20
                <p>Introduction to Web & Database</p>
            </h2>
            <div class="content">Department of Computer Science at UofT
                <p>Site designed by Zishuo Wang & Zhencheng Li & Lianhao Zhang</p>
            </div>
            <h2>Navigation</h2>
                <a href="index"><li class="home">Home&nbsp;</li></a>
                <a href="../static/image/B20.pdf" target="_blank"><li>Syllabus&nbsp;</li></a>
                <a href="calendar"><li>Calendar&nbsp;</li></a>
                <a href="news"><li>News&nbsp;</li></a>
                <a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank"><li>Piazza&nbsp;</li></a>
                <a href="lectures"><li>Lectures&nbsp;</li></a>
                <a href="labs"><li class="lab">Labs&nbsp;</li></a>
                <a href="assignments"><li>Assignments&nbsp;</li></a>
                <a href="tests"><li>Tests&nbsp;</li></a>
                <a href="https://markus2.utsc.utoronto.ca/" target="_blank"><li>Markus&nbsp;</li></a>
                <a href="courseteam"><li>CourseTeam&nbsp;</li></a>
                <a href="feedback"><li>Anon Feedback&nbsp;</li></a>
        </div>
    </body>
</html>