<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>CSCB20-Labs</title>
        <link rel="stylesheet" type="text/css" href="../static/style/labs.css">
    </head>
    <body>
        <div class="navigation">
            <li class="navigation"><a class="active" href="/">Home&nbsp;</a></li>
            <li class="navigation"><a href="../static/image/B20.pdf" target="_blank">Syllabus&nbsp;</a></li>
            <li class="navigation"><a href="/calendar">Calendar&nbsp;</a></li>
            <li class="navigation"><a href="/news">News&nbsp;</a></li>
            <li class="navigation"><a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank">Piazza&nbsp;</a></li>
            <li class="navigation"><a href="/lectures">Lectures&nbsp;</a></li>
            <li class="navigation"><a href="/labs">Labs&nbsp;</a></li>
            <li class="navigation"><a href="/assignments">Assignments&nbsp;</a></li>
            <li class="navigation"><a href="/tests">Tests&nbsp;</a></li>
            <li class="navigation"><a href="https://markus2.utsc.utoronto.ca/" target="_blank">Markus&nbsp;</a></li>
            <li class="navigation"><a href="/courseteam">CourseTeam&nbsp;</a></li>
            <li class="navigation"><a href="/feedback">Feedback</a></li>
            <li class="navigation logout-button"><a href="/logout">Log out</a></li>
        </div>
    <br>
    <br>
    <br>
    <br>
    <h1>Labs (Tutorials)</h1>
    <div class = "content">
        <h2>Lab/Tutorials</h2>
        <hr>
        <p>There are weekly labs conducted in person, the first tutorial is in the second week(Week 1).</p>
        <br>
        <h2>Tutorials Exercises</h2>
        <hr>
        <p>This section contains questions and solutions of the tutorial.</p>
        <div class="grid-container">
            <div class="Week1">Week1<br>
                <p>A quick speed-refresher of Python.</p>
                <p><a href="https://q.utoronto.ca/courses/332364/files/29627281?wrap=1" class="button">TUT1 QUE</a>&nbsp
                    <a href="https://q.utoronto.ca/courses/332364/files/29627192?wrap=1" class="button">TUT1 SOL</a></p>
            </div>
            <div class="Week2">Week2<br>
                <p>Relational algebra.</p>
                <p><a href="https://q.utoronto.ca/courses/332364/files/29627281?wrap=1" class="button">TUT2 QUE</a>&nbsp&nbsp
                    <a href="https://q.utoronto.ca/courses/332364/files/29627192?wrap=1" class="button">TUT2 SOL</a></p>
            </div>
            <div class="Week3">Week3<br>
                <p><a href="https://q.utoronto.ca/courses/332364/files/29627197?wrap=1" class="button">TUT4 QUE</a>&nbsp&nbsp
                    <a href="https://q.utoronto.ca/courses/332364/files/29627225?wrap=1" class="button">TUT4 SOL</a></p>
            </div>
            <div class="Week4">Week4<br>
                <p><a href="https://q.utoronto.ca/courses/332364/files/29627221?wrap=1" class="button">TUT5 QUE</a>&nbsp
                    <a href="https://q.utoronto.ca/courses/332364/files/29627226?wrap=1" class="button">TUT5 SOL sql</a></p>
                    <p><a href="https://q.utoronto.ca/courses/332364/files/29627222?wrap=1" class="button">TUT5 SOL html</a></p>
            </div>
            <div class="Week5">Week5<br>
                <p><a href="https://q.utoronto.ca/courses/332364/files/29627281?wrap=1" class="button">TUT6 QUE</a>&nbsp&nbsp
                    <a href="https://q.utoronto.ca/courses/332364/files/29627195?wrap=1" class="button">TUT6 SOL</a></p>
            </div>
            <div class="Week6">Week6<br>
                <p><a href="https://q.utoronto.ca/courses/332364/files/29627231?wrap=1" class="button">TUT8 QUE</a>&nbsp
                    <a href="https://q.utoronto.ca/courses/332364/files/29627232?wrap=1" class="button">TUT8 index.html</a></p>
                <p><a href="https://q.utoronto.ca/courses/332364/files/29627233?wrap=1" class="button">TUT8 style.css</a></p>
            </div>
            <div class="Week7">Week7<br>
                <p><a href="https://q.utoronto.ca/courses/332364/files/29627281?wrap=1" class="button">TUT9 QUE</a>&nbsp&nbsp
                    <a href="https://q.utoronto.ca/courses/332364/files/29627239?wrap=1" class="button">TUT9 SOL</a></p>
            </div>
            <div class="Week8">Week8<br>
                <p><a href="https://q.utoronto.ca/courses/332364/files/29627238?wrap=1" class="button">TUT10 QUE</a>&nbsp&nbsp
                    <a href="https://q.utoronto.ca/courses/332364/files/29627239?wrap=1" class="button">TUT10 SOL</a></p>
            </div>
            <div class="Week9">Week9<br>
                <p>Not post yet</p>
            </div>
            <div class="Week10">Week10<br>
                <p>Not post yet</p>
            </div>            
            <div class="Week11">Week11<br>
                <p>Not post yet</p>
            </div>
            <div class="Week12">Week12<br>
                <p>Not post yet</p>
            </div>
        </div>
    </div>

    <div class="footer">
        <h2>CSCB20
            <p>Introduction to Web & Database</p>
        </h2>
        <div class="content">Department of Computer Science at UofT
            <p>Site designed by Zishuo Wang & Zhencheng Li & Lianhao Zhang</p>
        </div>
        <h2>Navigation</h2>
            <a href="index"><li class="home">Home&nbsp;</li></a>
            <a href="../static/image/B20.pdf" target="_blank"><li>Syllabus&nbsp;</li></a>
            <a href="calendar"><li>Calendar&nbsp;</li></a>
            <a href="news"><li>News&nbsp;</li></a>
            <a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank"><li>Piazza&nbsp;</li></a>
            <a href="lectures"><li>Lectures&nbsp;</li></a>
            <a href="labs"><li class="lab">Labs&nbsp;</li></a>
            <a href="assignments"><li>Assignments&nbsp;</li></a>
            <a href="tests"><li>Tests&nbsp;</li></a>
            <a href="https://markus2.utsc.utoronto.ca/" target="_blank"><li>Markus&nbsp;</li></a>
            <a href="courseteam"><li>CourseTeam&nbsp;</li></a>
            <a href="feedback"><li>Anon Feedback&nbsp;</li></a>
    </div>
</body>
</html>