<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>CSCB20-Lectures</title>
        <link rel="stylesheet" type="text/css" href="../static/style/lectures.css">
    </head>
    <body>
        <div class="navigation">
            <li class="navigation"><a class="active" href="/">Home&nbsp;</a></li>
            <li class="navigation"><a href="../static/image/B20.pdf" target="_blank">Syllabus&nbsp;</a></li>
            <li class="navigation"><a href="/calendar">Calendar&nbsp;</a></li>
            <li class="navigation"><a href="/news">News&nbsp;</a></li>
            <li class="navigation"><a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank">Piazza&nbsp;</a></li>
            <li class="navigation"><a href="/lectures">Lectures&nbsp;</a></li>
            <li class="navigation"><a href="/labs">Labs&nbsp;</a></li>
            <li class="navigation"><a href="/assignments">Assignments&nbsp;</a></li>
            <li class="navigation"><a href="/tests">Tests&nbsp;</a></li>
            <li class="navigation"><a href="https://markus2.utsc.utoronto.ca/" target="_blank">Markus&nbsp;</a></li>
            <li class="navigation"><a href="/courseteam">CourseTeam&nbsp;</a></li>
            <li class="navigation"><a href="/feedback">Feedback</a></li>
            <li class="navigation logout-button"><a href="/logout">Log out</a></li>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1>Lectures</h1>
        <hr>
        <h2 >Tentative Schedule</h2> <br>
        <hr>
        <h3>Weeks &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Topics</h3>
        <hr>
        <div class="week0">
            <p>Week0 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">Introduction_Databases, Relational Model</a></p>
        </div>
        <hr>
        <div class="week1">
            <p>week1 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">Relational Model, Relational Algebra</a></p>
        </div>
        <hr>
        <div class="week0">
            <p>week2 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">Relational Algebra Queries and SQL Query Language</a></p>
        </div>
        <hr>
        <div class="week1">
            <p >Week3 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">SQL Query Language</a></p>
        </div>
        <hr>
        <div class="week0">
            <p >Week4 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">SQL and Introduction to web development</a></p>
        </div>
        <hr>
        <div class="week1">
            <p >Week5 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">Introduction to HTML and CSS</a></p>
        </div>
        <hr>
        <div class="midterm">
            <p >Midterm</p>
        </div>
        <hr>
        <div class="week1">
            <p >Week6 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">HTML, CSS, Box Model</a></p>
        </div>
        <hr>
        <div class="week0">
            <p >Week7 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">Introduction to Flask, Flexbox and Media Queries</a></p>
        </div>
        <hr>
        <div class="week1">
            <p >Week8 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">Flask and Introduction to JavaScript</a></p>
        </div>
        <hr>
        <div class="week0">
            <p >Week9 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">Integrating Flask and SQL</a></p>
        </div>
        <hr>
        <div class="week1">
            <p >Week10 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">Flask and SQL, examples</a></p>
        </div>
        <hr>
        <div class="week0">
            <p >Week11 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://q.utoronto.ca/courses/332364/modules" target="_blank">Wrap-up</a></p>
        </div>
        <hr>

        <h2> Lecture Recording</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vP-IK2Q-j_w?si=gb_M8o_rS6enqIWG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m5TxWbtQ7qU?si=DlSIb66__G5qE-Bz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <div class="footer">
            <h2>CSCB20
                <p>Introduction to Web & Database</p>
            </h2>
            <div class="content">Department of Computer Science at UofT
                <p>Site designed by Zishuo Wang & Zhencheng Li & Lianhao Zhang</p>
            </div>
            <h2>Navigation</h2>
                <a href="index"><li class="home">Home&nbsp;</li></a>
                <a href="../static/image/B20.pdf" target="_blank"><li>Syllabus&nbsp;</li></a>
                <a href="calendar"><li>Calendar&nbsp;</li></a>
                <a href="news"><li>News&nbsp;</li></a>
                <a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank"><li>Piazza&nbsp;</li></a>
                <a href="lectures"><li>Lectures&nbsp;</li></a>
                <a href="labs"><li class="lab">Labs&nbsp;</li></a>
                <a href="assignments"><li>Assignments&nbsp;</li></a>
                <a href="tests"><li>Tests&nbsp;</li></a>
                <a href="https://markus2.utsc.utoronto.ca/" target="_blank"><li>Markus&nbsp;</li></a>
                <a href="courseteam"><li>CourseTeam&nbsp;</li></a>
                <a href="feedback"><li>Anon Feedback&nbsp;</li></a>
        </div>
    </body>
</html>