<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>CSCB20-News</title>
        <link rel="stylesheet" type="text/css" href="../static/style/news.css">
    </head>
    <body>
        <div class="navigation">
            <li class="navigation"><a class="active" href="/">Home&nbsp;</a></li>
            <li class="navigation"><a href="../static/image/B20.pdf" target="_blank">Syllabus&nbsp;</a></li>
            <li class="navigation"><a href="/calendar">Calendar&nbsp;</a></li>
            <li class="navigation"><a href="/news">News&nbsp;</a></li>
            <li class="navigation"><a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank">Piazza&nbsp;</a></li>
            <li class="navigation"><a href="/lectures">Lectures&nbsp;</a></li>
            <li class="navigation"><a href="/labs">Labs&nbsp;</a></li>
            <li class="navigation"><a href="/assignments">Assignments&nbsp;</a></li>
            <li class="navigation"><a href="/tests">Tests&nbsp;</a></li>
            <li class="navigation"><a href="https://markus2.utsc.utoronto.ca/" target="_blank">Markus&nbsp;</a></li>
            <li class="navigation"><a href="/courseteam">CourseTeam&nbsp;</a></li>
            <li class="navigation"><a href="/feedback">Feedback</a></li>
            <li class="navigation logout-button"><a href="/logout">Log out</a></li>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1>News</h1>
        <hr>
        <div class="news">
            <div id="tutmove">
                <p><strong>Purva's OH moved online for tomorrow</strong></p>
                <p>Hello all,</p>
                <p>Due to my son's heath, I have to move my OH online tomorrow. </p>
                <p>I am sorry for the inconvenience caused.</p>
                <p>Here is the zoom link: <a href=" https://utoronto.zoom.us/j/83063958360" target="_blank"> https://utoronto.zoom.us/j/83063958360</a>Passcode: 342577</p>
                <p>--Purva</p>
            </div>
            <div id="week6">
                <p><strong>Week 6 lecture material</strong></p>
                <p>Hello all,</p>
                <p>Due to the midterm held this week, we did not have regular lecture session</p>
                <p>Please read the recorded lectures posted under week 6 module. The lecture contains HTML 
                    (covered in week 5, so this is a refresher) part, CSS and Python Flask.  </p>
                <p>Also read the lecture notes posted under 'Notes to read before next week's lecture'.</p>
                <p>In upcoming week 7 lecture, I will go over instructions on how to download Flask. However, the entire lecture will not be covered.</p>
                <p>--Purva</p>
            </div>
            <div id="midterm">
                <p><strong>Midterm Grade</strong></p>
                <p>Hello all,</p>
                <p>Midterm grades have been released. Please go through the exam carefully. </p>
                <p>In next week's tutorial, we will go through the solution for the exam.
                     If you have questions, make sure to ask TAs. After talking to the TA,
                      if you want to request a remark because of a marking error, then you 
                      can submit the remark request through a form. This form will be available 
                      next week, after you go through the solutions during tutorials. </p>
                <p>--Purva</p>
            </div>
            <hr>
        </div>
        <h3><a href="https://q.utoronto.ca/courses/332364/announcements" target="_blank">More....</a></h3>

        <div class="footer">
            <h2>CSCB20
                <p>Introduction to Web & Database</p>
            </h2>
            <div class="content">Department of Computer Science at UofT
                <p>Site designed by Zishuo Wang & Zhencheng Li & Lianhao Zhang</p>
            </div>
            <h2>Navigation</h2>
                <a href="index"><li class="home">Home&nbsp;</li></a>
                <a href="../static/image/B20.pdf" target="_blank"><li>Syllabus&nbsp;</li></a>
                <a href="calendar"><li>Calendar&nbsp;</li></a>
                <a href="news"><li>News&nbsp;</li></a>
                <a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank"><li>Piazza&nbsp;</li></a>
                <a href="lectures"><li>Lectures&nbsp;</li></a>
                <a href="labs"><li class="lab">Labs&nbsp;</li></a>
                <a href="assignments"><li>Assignments&nbsp;</li></a>
                <a href="tests"><li>Tests&nbsp;</li></a>
                <a href="https://markus2.utsc.utoronto.ca/" target="_blank"><li>Markus&nbsp;</li></a>
                <a href="courseteam"><li>CourseTeam&nbsp;</li></a>
                <a href="feedback"><li>Anon Feedback&nbsp;</li></a>
        </div>
    </body>
</html>