<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>CSCB20-Sign up</title>
        <link rel="stylesheet" type="text/css" href="../static/style/signup.css">
    </head>
    <body>
        <div class="main-content">
            <div class="navigation">
                <li class="navigation"><a class="active" href="/">Home&nbsp;</a></li>
                <li class="navigation"><a href="../static/image/B20.pdf" target="_blank">Syllabus&nbsp;</a></li>
                <li class="navigation"><a href="/calendar">Calendar&nbsp;</a></li>
                <li class="navigation"><a href="/news">News&nbsp;</a></li>
                <li class="navigation"><a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank">Piazza&nbsp;</a></li>
                <li class="navigation"><a href="/lectures">Lectures&nbsp;</a></li>
                <li class="navigation"><a href="/labs">Labs&nbsp;</a></li>
                <li class="navigation"><a href="/assignments">Assignments&nbsp;</a></li>
                <li class="navigation"><a href="/tests">Tests&nbsp;</a></li>
                <li class="navigation"><a href="https://markus2.utsc.utoronto.ca/" target="_blank">Markus&nbsp;</a></li>
                <li class="navigation"><a href="/courseteam">CourseTeam&nbsp;</a></li>
            </div>

            
            <div class="login-container">
                <div class="login-form">
                    <h2>Sign up</h2>
                    <form action="/signup" method = "post">
                        {% if error %}
                        <script>
                                var error = "{{ error }}";
                                window.alert(error)
                        </script>
                        {% endif %}
                        <div class="input">
                            <input type="text" name="username">
                            <label>username</label>
                        </div>
                        <div class="input">
                            <input type="password" name="password">
                            <label>password</label>
                        </div>
                        <label>Are you an Instructor?</label>
                        <input type = "checkbox" name = "instructor">
                        <br>
                        <br>
                        <button type="submit">Regsister</button>
                        <p class="signup">Already have account?<a href="/login">Log in</a></p>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer">
            <h2>CSCB20
                <p>Introduction to Web & Database</p>
            </h2>
            <div class="content">Department of Computer Science at UofT
                <p>Site designed by Zishuo Wang & Zhencheng Li & Lianhao Zhang</p>
            </div>
            <h2>Navigation</h2>
                <a href="index"><li class="home">Home&nbsp;</li></a>
                <a href="../static/image/B20.pdf" target="_blank"><li>Syllabus&nbsp;</li></a>
                <a href="calendar"><li>Calendar&nbsp;</li></a>
                <a href="news"><li>News&nbsp;</li></a>
                <a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank"><li>Piazza&nbsp;</li></a>
                <a href="lectures"><li>Lectures&nbsp;</li></a>
                <a href="labs"><li class="lab">Labs&nbsp;</li></a>
                <a href="assignments"><li>Assignments&nbsp;</li></a>
                <a href="tests"><li>Tests&nbsp;</li></a>
                <a href="https://markus2.utsc.utoronto.ca/" target="_blank"><li>Markus&nbsp;</li></a>
                <a href="courseteam"><li>CourseTeam&nbsp;</li></a>
                <a href="feedback"><li>Anon Feedback&nbsp;</li></a>
        </div>
    </body>
</html>