<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>CSCB20-Tests</title>
        <link rel="stylesheet" type="text/css" href="../static/style/tests.css">
    </head>
    <body>
        <div class="navigation">
            <li class="navigation"><a class="active" href="/">Home&nbsp;</a></li>
            <li class="navigation"><a href="../static/image/B20.pdf" target="_blank">Syllabus&nbsp;</a></li>
            <li class="navigation"><a href="/calendar">Calendar&nbsp;</a></li>
            <li class="navigation"><a href="/news">News&nbsp;</a></li>
            <li class="navigation"><a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank">Piazza&nbsp;</a></li>
            <li class="navigation"><a href="/lectures">Lectures&nbsp;</a></li>
            <li class="navigation"><a href="/labs">Labs&nbsp;</a></li>
            <li class="navigation"><a href="/assignments">Assignments&nbsp;</a></li>
            <li class="navigation"><a href="/tests">Tests&nbsp;</a></li>
            <li class="navigation"><a href="https://markus2.utsc.utoronto.ca/" target="_blank">Markus&nbsp;</a></li>
            <li class="navigation"><a href="/courseteam">CourseTeam&nbsp;</a></li>
            <li class="navigation"><a href="/feedback">Feedback</a></li>
            <li class="navigation logout-button"><a href="/logout">Log out</a></li>
        </div>
        <br>
        <br>
        <br>
        <br>

        <h1>Tests</h1>
        <hr>
        <h3>Old Exams</h3>
        <ul>
            <li><a href="../static/image/B20.pdf" target="_blank" class="button">2022 Winter Exam Question:</a> <a href="../static/image/B20.pdf" target="_blank" class="button"> Solution</a></li>
            <br>
            <li><a href="../static/image/B20.pdf" target="_blank" class="button">2020 Fall Exam Question:</a> <a href="../static/image/B20.pdf" target="_blank" class="button"> Solution</a></li>
            <br>
            <li><a href="../static/image/B20.pdf" target="_blank" class="button">2018 Fall Exam Question:</a> <a href="../static/image/B20.pdf" target="_blank" class="button"> Solution</a></li>
            <br>
            <li><a href="../static/image/B20.pdf" target="_blank" class="button">2023 Winter Exam Question:</a> <a href="../static/image/B20.pdf" target="_blank" class="button"> Solution</a></li>
            <br>
            <li><a href="../static/image/B20.pdf" target="_blank" class="button">2023 Fall Exam Question:</a> <a href="../static/image/B20.pdf" target="_blank" class="button"> Solution</a></li>
            <br>
            <li><a href="../static/image/B20.pdf" target="_blank" class="button">1960 Winter Exam Question:</a> <a href="../static/image/B20.pdf" target="_blank" class="button"> Solution</a></li>
            <br>
            <li><a href="../static/image/B20.pdf" target="_blank" class="button">1999 Fall Exam Question:</a> <a href="../static/image/B20.pdf" target="_blank" class="button"> Solution</a></li>
            <br>
            <li><a href="../static/image/B20.pdf" target="_blank" class="button">2000 Summer Exam Question:</a> <a href="../static/image/B20.pdf" target="_blank" class="button"> Solution</a></li>
            <br>
            <li><a href="../static/image/B20.pdf" target="_blank" class="button">2006 Winter Exam Question:</a> <a href="../static/image/B20.pdf" target="_blank" class="button"> Solution</a></li>
        </ul>

        <h3>2024 Winter Exam Time</h3>

        <div class="info">
            <p><strong>CSCB20H3S &nbsp;&nbsp;&nbsp;LEC01&nbsp;&nbsp;&nbsp;Tuesday,April 23, 2024&nbsp;&nbsp;&nbsp;9:00&nbsp;&nbsp;&nbsp;12:00&nbsp;&nbsp;&nbsp;Please refer to your course announcement</strong></p>
        </div>
        
        <div class="footer">
            <h2>CSCB20
                <p>Introduction to Web & Database</p>
            </h2>
            <div class="content">Department of Computer Science at UofT
                <p>Site designed by Zishuo Wang & Zhencheng Li & Lianhao Zhang</p>
            </div>
            <h2>Navigation</h2>
                <a href="index"><li class="home">Home&nbsp;</li></a>
                <a href="../static/image/B20.pdf" target="_blank"><li>Syllabus&nbsp;</li></a>
                <a href="calendar"><li>Calendar&nbsp;</li></a>
                <a href="news"><li>News&nbsp;</li></a>
                <a href="https://piazza.com/class/lqy466htv8g5xb" target="_blank"><li>Piazza&nbsp;</li></a>
                <a href="lectures"><li>Lectures&nbsp;</li></a>
                <a href="labs"><li class="lab">Labs&nbsp;</li></a>
                <a href="assignments"><li>Assignments&nbsp;</li></a>
                <a href="tests"><li>Tests&nbsp;</li></a>
                <a href="https://markus2.utsc.utoronto.ca/" target="_blank"><li>Markus&nbsp;</li></a>
                <a href="courseteam"><li>CourseTeam&nbsp;</li></a>
                <a href="feedback"><li>Anon Feedback&nbsp;</li></a>
        </div>
    </body>
</html>